@font-face {
  font-display: swap;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-condensed-v12-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bellefair-v14-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed" "Bellefair" "Barlow" "sans-serif";
}


.space-body {
  background-image: url("../../images/space-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Bellefair" sans-serif;
  font-family: "Barlow", sans-serif;
}

@media (max-width: 768px) {
  .space-body {
    background-image: url(../../images/tablet-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Barlow Condensed", sans-serif;
    font-family: "Bellefair" sans-serif;
    font-family: "Barlow", sans-serif;
  }
}
@media (max-width: 375px) {
  .space-body {
    background-image: url(../images/space-mobile-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Barlow Condensed", sans-serif;
    font-family: "Bellefair" sans-serif;
    font-family: "Barlow", sans-serif;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {

  margin: 0 auto;
  padding: 0 20px;
  width: 1385px;
  height: 96px;
}

.launch__body {
  background-image: url(../../images/launch.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Bellefair" sans-serif;
  font-family: "Barlow", sans-serif;
}

.launch-header {
  padding: 40px 10px;
}

.launch__border {
  width: 473px;
  height: 1px;
  color: #4B4D55;
}

.launch {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0px 10px;
  top: 40px;
  left: 55px;
  width: 1385px;
}

.launch__logo {
  margin-right: 64px;
}

.launch_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
  width: 850px;
  height: 96px;
  padding: 0px 140px;
  background-color: rgba(255, 255, 255, 0.0392156863);
}

.launch__list-wrapper {
  display: flex;
  gap: 75px;
}

.launch__link {

  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.moon-body {
  background-image: url("../../images/moon-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.moon-header {
  padding: 40px 0px;
  padding-left: 55px;
}

.moon {
.space-header {
  padding: 40px;
}

.space__border {
  width: 473px;
  height: 1px;
  color: white;
}

.space {

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}


.moon__hr {
  width: 473px;
  height: 1px;
  background-color: #FFFFFF;
}

.moon__list {
  width: 830px;
  height: 96px;
  padding: 0px 123px 0px 165px;

.space-logo {
  margin-right: 64px;
}

.space_list {

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;

  background: rgba(255, 255, 255, 0.0392156863);
}

.moon__item {
  background-color: rgba(255, 255, 255, 0.0392156863);
  width: 830px;
  height: 96px;
  padding: 50px;
}

.space__item {

  position: relative;
  overflow: hidden;
}


.moon__item::before {

.space__item::before {

  content: "";
  width: 50%;
  height: 3px;
  position: absolute;
  background-color: white;

  left: -100px;
  bottom: 0px;
  transition: all 0.3s linear;
}

.moon__item::after {

  left: -100%;
  bottom: 0;
  transition: all 0.3s linear;
}

.space__item::after {

  content: "";
  width: 50%;
  height: 3px;
  position: absolute;
  background-color: white;

  right: -100px;
  bottom: 0px;
  transition: all 0.3s linear;
}

.moon__item:hover::before {
  left: 0;
}

.moon__item:hover::after {
  right: 0;
}

.moon__item:active::before, .moon__item:active::after {

  right: -100%;
  bottom: 0;
  transition: all 0.3s linear;
}

.space__item:hover::before {
  left: 0;
}

.space__item:hover::after {
  right: 0;
}

.space__item:active::before, .space__item:active::after {

  width: 0;
  height: 0;
}

.moon__header-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;

.space__link {

  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
  color: white;

  line-height: 19, 2px;
  text-transform: uppercase;
}

.launch__content-list {
  padding: 93px 85px;
  display: flex;
  gap: 24px;
}

.launch__content-link {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  color: #4B4D55;
}

.launch__about-link {
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: left;
  color: #FFFFFF;
  width: 305px;
}

.launch_about {
  display: flex;
  gap: 58px;
  align-items: center;
  width: 1385px;
  height: 300px;
}

.launch__btn {
  margin: auto;
  margin-top: 25px;
  width: 70px;
  height: 70px;
  padding: 14px;
  border-radius: 50%;
  border: 0.5px solid white;
  font-size: 32px;
  color: #ffffff;
  background-color: #12121D;
  text-transform: inherit;
}
.launch__btn:hover {
  color: #020202;
  background-color: #FFFFFF;
}

.launch__button-link {
  font-family: "Bellefair" sans-serif;
  color: #FFFFFF;
}
.launch__button-link:hover {
  color: #020202;
}

.launch__wrapper {
  padding: 0px 85px;
}

.launch__text {
  width: 470px;
  height: 303px;
  top: 383px;
  left: 325px;
  gap: 0px;
  opacity: 0px;
  padding: 20px 0px;
}

.launch__text-wrapper {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
  padding: 10px 0px;
}

.launch__text-subtitle {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64.18px;
  text-align: left;
  color: #FFFFFF;
  padding: 5px 0px;
}

.launch__text-title {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #FFFFFF;
  padding: 10px 0px;
}

.launch__image:hover {
  border-radius: 55%;
}

button {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

button:focus,
button:hover {
  color: #fff;
}

button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

@media (max-width: 768px) {
  .launch__body {
    background-image: url(../images/img3.png);
    width: 1065px;
    height: 710px;
    top: 0.33px;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Barlow Condensed", sans-serif;
    font-family: "Bellefair" sans-serif;
    font-family: "Barlow", sans-serif;
  }
  .launch__border {
    width: 1px;
  }
  .launch__list-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
    flex-direction: column-reverse;
  }
  .launch_about {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
  }
  .launch__wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
  }
  .launch__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .launch__text {
    text-align: center;
  }
  .launch__img {
    display: flex;
    align-items: center;
    width: 773px;
    height: 1194px;
  }
  .launch__image {
    display: flex;
    align-items: center;
    width: 1194px;
    height: 773px;
  }

  line-height: 19.2px;
  text-transform: uppercase;

  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;

  color: white;
}

.moon-section {
  padding: 76px 0;
}

.moon__1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 206px;
}

.moon__text {
  font-family: Barlow Condense;
  margin-bottom: 64px;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  color: #FFFFFF;
}

.moon__hero-span {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  color: #FFFFFF;
  opacity: 25%;
}

.moon__hero-img {
  border: none;
}

.moon__hero-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 35px;
  margin-bottom: 52px;
}

.moon__hero-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.moon__hero-link {
  color: white;
}
.moon__hero-link:hover {
  color: orange;
}

.moon__hero-title {
  margin-bottom: 14px;
  font-size: 100px;
  font-weight: 400;
  line-height: 114.6px;
  color: #FFFFFF;
}

.moon__hero-text {
  margin-bottom: 54px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #D0D6F9;
}

.hero__wrapper-buy {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 110px;
}

.hero__moon-title {
  margin-top: 28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #D0D6F9;
}

.hero__wrapper-moon {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 79px;
}

.hero__moon-buy {
  margin-top: 12px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.09px;
  color: #FFFFFF;

  font-family: "Barlow Condensed", sans-serif;
}

.space__menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
  .space__border {
    display: none;
  }
  .space_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.0392156863);
    width: 500px;
    height: 96px;
    padding: 0px;
  }
  .space__link {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 16.8px;
    text-transform: uppercase;
  }
  .space__menu-icon {
    display: none;
  }
}
@media (max-width: 375px) {
  .space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
  }
  .space__menu-icon {
    display: block;
    border: none;
  }
  .space-logo {
    width: 40px;
    height: 40px;
  }
  .space_list {
    display: none;
  }
}
.space__hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.space__border {
  width: 400px;
}

.space__hero-content-wrapper {
  width: 450px;
}

.space__subtext {
  margin-bottom: 0px;
  font-size: 28px;
  font-weight: 400;
  color: #D0D6F9;
  line-height: 33.6px;
  text-transform: uppercase;
  letter-spacing: 4.72px;
  font-family: "Barlow Condensed";
}

.space__hero-title {
  margin-bottom: 0px;
  font-size: 150px;
  font-weight: 400;
  color: white;
  line-height: 171.9px;
  text-transform: uppercase;
  font-family: "Bellefair", sans-serif;
}

.space__hero-text {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  color: #D0D6F9;
  line-height: 32px;
  text-transform: inherit;
}

.space__btn {
  margin-top: 150px;
  margin-bottom: 131px;
  font-family: "Bellefair", sans-serif;
  height: 274px;
  display: inline-block;
  transition: all 0.3s linear;
  width: 274px;
  padding: 62px 0;
  background-color: white;
  border-radius: 50%;
  border: 1px solid transparent;
  font-size: 32px;
  font-weight: 400;
  line-height: 36.37px;
  color: black;
  cursor: pointer;
  text-transform: uppercase;
}
.space__btn:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

@media (max-width: 768px) {
  .space__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 156px;
    flex-direction: column;
  }
  .space__subtext {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
    color: #D0D6F9;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.38px;
    font-family: "Barlow Condensed";
  }
  .space__hero-title {
    margin-bottom: 0px;
    font-size: 150px;
    font-weight: 400;
    color: white;
    line-height: 150px;
    text-transform: uppercase;
    font-family: "Bellefair", sans-serif;
  }
  .space__hero-text {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #D0D6F9;
    line-height: 28px;
    text-transform: inherit;
  }
  .space__btn {
    width: 242px;
    height: 242px;
    letter-spacing: 2px;
    margin-bottom: 90px;
  }
  .space__hero-content-wrapper {
    width: 450px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .space__hero {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0px;
    flex-direction: column;
  }
  .space__hero-content-wrapper {
    width: 327px;
    text-align: center;
    gap: 16px;
  }
  .space__subtext {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    color: #D0D6F9;
    line-height: 19.2px;
    text-transform: uppercase;
    letter-spacing: 3.38px;
    font-family: "Barlow Condensed";
  }
  .space__hero-title {
    margin-bottom: 0px;
    font-size: 80px;
    font-weight: 400;
    color: white;
    line-height: 100px;
    text-transform: uppercase;
    font-family: "Bellefair", sans-serif;
  }
  .space__hero-text {
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 400;
    color: #D0D6F9;
    line-height: 25px;
    text-transform: inherit;
  }
  .space__btn {
    height: 150px;
    width: 150px;
    padding: 25px 0;
    background-color: white;
    border-radius: 50%;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.92px;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    margin-bottom: 48px;
  }


}/*# sourceMappingURL=main.css.map */