@font-face {
  font-display: swap;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-condensed-v12-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bellefair-v14-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/barlow-v12-latin-regular.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Condensed" "Bellefair" "Barlow" "sans-serif";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.moon-body {
  background-image: url("../../images/moon-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.moon-header {
  padding: 40px 0px;
  padding-left: 55px;
}

.moon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.moon__hr {
  width: 473px;
  height: 1px;
  background-color: #FFFFFF;
}

.moon__list {
  width: 830px;
  height: 96px;
  padding: 0px 123px 0px 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
  background: rgba(255, 255, 255, 0.0392156863);
}

.moon__item {
  position: relative;
  overflow: hidden;
}

.moon__item::before {
  content: "";
  width: 50%;
  height: 3px;
  position: absolute;
  background-color: white;
  left: -100px;
  bottom: 0px;
  transition: all 0.3s linear;
}

.moon__item::after {
  content: "";
  width: 50%;
  height: 3px;
  position: absolute;
  background-color: white;
  right: -100px;
  bottom: 0px;
  transition: all 0.3s linear;
}

.moon__item:hover::before {
  left: 0;
}

.moon__item:hover::after {
  right: 0;
}

.moon__item:active::before, .moon__item:active::after {
  width: 0;
  height: 0;
}

.moon__header-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  color: white;
}

.moon-section {
  padding: 76px 0;
}

.moon__1 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 206px;
}

.moon__text {
  font-family: Barlow Condense;
  margin-bottom: 64px;
  font-size: 28px;
  font-weight: 400;
  line-height: 33.6px;
  color: #FFFFFF;
}

.moon__hero-span {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  color: #FFFFFF;
  opacity: 25%;
}

.moon__hero-img {
  border: none;
}

.moon__hero-list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 35px;
  margin-bottom: 52px;
}

.moon__hero-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.moon__hero-link {
  color: white;
}
.moon__hero-link:hover {
  color: orange;
}

.moon__hero-title {
  margin-bottom: 14px;
  font-size: 100px;
  font-weight: 400;
  line-height: 114.6px;
  color: #FFFFFF;
}

.moon__hero-text {
  margin-bottom: 54px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #D0D6F9;
}

.hero__wrapper-buy {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 110px;
}

.hero__moon-title {
  margin-top: 28px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #D0D6F9;
}

.hero__wrapper-moon {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 79px;
}

.hero__moon-buy {
  margin-top: 12px;
  font-size: 28px;
  font-weight: 400;
  line-height: 32.09px;
  color: #FFFFFF;
}/*# sourceMappingURL=main.css.map */